* CONFIGURATION4.0
# ESRU system configuration defined by file 
# generic.cfg
*date Tue Mar 29 09:50:53 2011  # latest file modification 
*root generic
*zonpth  ../zones                  # path to zones
*netpth  ../nets                   # path to networks
*ctlpth  ../ctl                    # path to controls
*aimpth  ../aim2                   # path to aim2 files
*radpth  ../rad                    # path to radiance files
*imgpth  ../images                 # path to project images
*tmppth  ../tmp                    # path to project scratch folder
*docpth  ../doc                    # path to project documents
*dbspth  ../dbs                    # path to local databases
*hvacpth ../hvac                   # path to hvac files
*bsmpth  ../zones                  # path to BASESIMP files
*indx    1 # Building only
 <OPT-Latitude>   <OPT-Longitude>  # Latitude & Longitude (diff from time meridian)
       1   0.200   # Site exposure & ground reflectivity
* DATABASES
*mat  ../dbs/material.db3.a
*mlc  ../dbs/<OPT-ConstDBFile>
*opt  ../dbs/<OPT-OptDBFile>
*prs  ../dbs/pressc.db1
*evn  /usr/esru/esp-r/dbs/profiles.db2.a
*clm  ../climate/<OPT-WEATHER-FILE>
*stdmscldb  mscomp.db1
*stdpdb  plantc.db1
*stdsbem  SBEM.db1
*sim-toggle bld-soln-implicitness   1.000
*sim-toggle bld-solar-processing enabled 
*hvac  ../hvac/<Opt-HVACSystem>   
<Opt-HideGSHPfile>
*dhw   ../hvac/<Opt-DHWInputFile> 
*aim   ../aim2/<Opt-AirTightness> 
*mvnt  ../hvac/<Opt-HVACSystem>
*slr_half_hr   0  # solar timing hour centred
*ctl  ../ctl/generic_shoulder_ideal.ctl
*calename standard weekday Sat & Sun
*calentag weekdays, weekdays (all year), 261
*calentag saturday, Saturdays (all year),  52
*calentag sunday, Sundays (all year),  52
*list    3
 1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1, 
 2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1, 
 1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1, 
 1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2, 
 3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1, 
 1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1, 
 1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3, 
 1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1
*end_list
*year  2007 # assessment year
*pnt   ../nets/elec_loads.enf
# sim setup: no. sets startup zone_ts plant_ts save_lv @ each ts
*sps    4  1   1  1   5   
   1   1  <Opt-endday> <Opt-endmonth>  fullyear # period & name
*sblr generic.res
*sflr generic.fes
*selr generic.ees
*end_set
   1   1  1   1  jan      # period & name
*sblr generic.res
*sflr generic.fes
*selr generic.ees
*end_set
   1   7  31   7  july     # period & name
*sblr generic.res
*sflr generic.fes
*selr generic.ees
*end_set
   1   1  31  12  optrun # period & name
*sblr generic.res
*sflr generic.fes
*selr generic.ees
*selr generic.ees
*end_set
*end_sps
# Name and address of building
*B-NAME not yet defined
*B-ADDRESS not yet defined
*B-CITY not yet defined
*B-POSTCODE not yet defined
# Contact information for building owner
*O-NAME not yet defined
*O-ADDRESS not yet defined
*O-CITY not yet defined
*O-POSTCODE not yet defined
*O-TELEPHONE not yet defined
# Contact information for simulation team
*C-NAME not yet defined
*C-ADDRESS not yet defined
*C-CITY not yet defined
*C-POSTCODE not yet defined
*C-TELEPHONE not yet defined
* PROJ LOG
generic.log
* Building
thermal mass study for generic
      3  # no of zones
*zon   1   # reference for bsmt        
*opr ../zones/bsmt.opr  # schedules
*geo ../zones/bsmt.geo  # geometry
*con ../zones/bsmt.con  # construction
*bsm ../zones/bsmt.bsm  # BASESIMP input 
*zend 
*zon   2   # reference for first_fl    
*opr ../zones/first_fl.opr  # schedules
*geo ../zones/first_fl.geo  # geometry
*con ../zones/first_fl.con  # construction
*tmc ../zones/first_fl.tmc  # transparent constr
*zend 
*zon   3   # reference for roof        
*opr ../zones/roof.opr  # schedules
*geo ../zones/roof.geo  # geometry
*con ../zones/roof.con  # construction
*zend 
*cnn generic-base.cnn  # connections
   0   # no fluid flow network

 
