* CONFIGURATION4.0
# ESRU system configuration defined by file 
# CCHT_shades_retracted-Edmon.cfg
*date Wed Jul 14 15:09:02 2010  # latest file modification 
*root CCHT_model
*zonpth ../zones                  # path to zones
*netpth ../nets                   # path to networks
*ctlpth ../ctl                    # path to controls
*radpth ../rad                    # path to radiance files
*imgpth ../images                 # path to project images
*tmppth ../tmp                    # path to project scratch folder
*docpth ../doc                    # path to project documents
*dbspth ../dbs                    # path to local databases
*indx    1 # Building only
 51.120   -9.020   # Latitude & Longitude (diff from time meridian)
      1   0.200   # Site exposure & ground reflectivity
* DATABASES
*mat  ../dbs/material.db3.a
*mlc  ../dbs/CCHT_model.constrdb
*opt  ../dbs/optics.db2
*prs  ../dbs/pressc.db1
*evn  ../dbs/profiles.db2.a
*clm  C:/Esru/esp-r/climate/CAN_AB_Calgary_CWEC
*mscldb  c:/Esru/esp-r/databases/mscomp.db1
*stdpdb  plantc.db1.a
*hvac  ../hvac/ac.hvac
*aim   ../AIM-2/aim.aim
*slr_half_hr   0  # solar timing hour centred
*ctl  ../ctl/CCHT_model.ctl
*calename standard weekday Sat & Sun
*calentag weekdays, weekdays (all year), 261
*calentag saturday, Saturdays (all year),  52
*calentag sunday, Sundays (all year),  52
*list    3
 1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2, 
 3,1,1,1,1,1,2,3,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1, 
 2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1, 
 1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1, 
 1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2, 
 3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1, 
 1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1, 
 1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1
*end_list
*seasons
*name	Calgary Intl AB CAN
*aide	Calgary Intl AB CAN was sourced from US DoE
*winter_s  1  1  1  4 29 10 31 12 # seasons Tue-01-Jan--Tue-01-Apr & Wed-29-Oct--Wed-31-Dec
*spring_s  2  4 13  5 27  8 28 10 # seasons Wed-02-Apr--Tue-13-May & Wed-27-Aug--Tue-28-Oct
*summer_s 14  5 26  8 # summer season Wed-14-May--Tue-26-Aug
*winter_t 29  1  4  2 24 12 30 12 # typical Tue-29-Jan--Mon-04-Feb & Wed-24-Dec--Tue-30-Dec
*spring_t 30  4  6  5  3  9  9  9 # typical Wed-30-Apr--Tue-06-May & Wed-03-Sep--Tue-09-Sep
*summer_t  6  8 12  8 # typical summer Wed-06-Aug--Tue-12-Aug
*help_start
Climate is Calgary Intl AB CAN
 Location: 51.12N  9.02W : 2001
 Month    Minimum  Time          Maximum  Time         Mean
 Jan    -28.9 @ 6h00 Wed 31       10.2 @12h00 Mon 22    -8.2
 Feb    -24.1 @ 5h00 Thu 15        8.4 @15h00 Thu  8    -6.4
 Mar    -27.2 @ 8h00 Sun  4       12.2 @16h00 Mon 19    -3.8
 Apr    -10.4 @ 6h00 Sun  1       20.6 @16h00 Sat 14     4.3
 May     -3.3 @ 4h00 Thu  3       25.6 @15h00 Wed 23     9.4
 Jun      3.3 @ 4h00 Wed  6       28.9 @15h00 Sun 24    14.6
 Jul      5.3 @ 4h00 Mon 23       32.3 @16h00 Sat 21    16.8
 Aug      6.2 @ 6h00 Thu  9       28.1 @17h00 Sat 18    16.0
 Sep     -5.6 @ 1h00 Sat 29       27.8 @15h00 Tue 25    10.2
 Oct     -8.5 @ 5h00 Tue  2       20.8 @13h00 Sun  7     5.9
 Nov    -31.7 @ 8h00 Tue 20       13.3 @15h00 Thu  1    -3.6
 Dec    -28.9 @ 1h00 Thu 13       12.2 @24h00 Sat 22    -7.8
 Annual -31.7 @ 8h00 Tue 20 Nov   32.3 @16h00 Sat 21 Jul     4.0
 ---Seasons & typical periods---
Winter season is Mon  1 Jan - Sun  1 Apr
Typical winter week begins Mon 29 Jan
Spring season is Mon  2 Apr - Sun 13 May
Typical spring week begins Mon 30 Apr
Summer season is Mon 14 May - Sun 26 Aug
Typical summer week begins Mon  6 Aug
Autumn season is Mon 27 Aug - Sun 28 Oct
Typical autumn week begins Mon  3 Sep
Winter season is Mon 29 Oct - Mon 31 Dec
Typical winter week begins Mon 24 Dec
*season_end
*year  2008 # assessment year
# sim setup: no. sets startup zone_ts plant_ts save_lv @ each ts
*sps    1   4   1  10   4   0
   1   1  31  12  default  # period & name
*sblr CCHT_shades_retracted.res
*end_set
*end_sps
# Address of building, owner and certifier
*B-NAME      not yet defined
*B-ADDRESS   not yet defined
*B-CITY      not yet defined
*B-POSTCODE  not yet defined
*O-NAME      not yet defined
*O-ADDRESS   not yet defined
*O-CITY      not yet defined
*O-POSTCODE  not yet defined
*O-TELEPHONE not yet defined
*C-NAME      not yet defined
*C-ADDRESS   not yet defined
*C-CITY      not yet defined
*C-POSTCODE  not yet defined
*C-TELEPHONE not yet defined
* PROJ LOG
CCHT_model.log
* Building
validation model of CCHT homes located at NRC in Ottawa
      4  # no of zones
*zon   1   # reference for basement    
*opr ../zones/basement.opr  # schedules
*geo ../zones/basement.geo  # geometry
*con ../zones/basement.con  # construction
*bsm ../basesimp/BCIN-1.bsm  # BASESIMP input 
*zend 
*zon   2   # reference for garage      
*opr ../zones/garage.opr  # schedules
*geo ../zones/garage.geo  # geometry
*con ../zones/garage.con  # construction
*bsm ../basesimp/BCIN-1GRG.bsm  # BASESIMP input 
*zend 
*zon   3   # reference for attic       
*opr ../zones/attic.opr  # schedules
*geo ../zones/attic.geo  # geometry
*con ../zones/attic.con  # construction
*zend 
*zon   4   # reference for main_flrs   
*opr ../zones/main.opr  # schedules
*geo ../zones/main_retracted.geo  # geometry
*con ../zones/main.con  # construction
*tmc ../zones/main.tmc  # transparent constr
*isi ../zones/main_retracted.shd  # shading db 
*zend 
*cnn CCHT_model.cnn  # connections
   0   # no fluid flow network
