* CONFIGURATION4.0
# ESRU system configuration defined by file 
# NZEH.cfg
*date Tue Mar 29 09:50:53 2011  # latest file modification 
*root NZEH
*zonpth  ../zones                  # path to zones
*netpth  ../nets                   # path to networks
*ctlpth  ../ctl                    # path to controls
*aimpth ../aim2                   # path to aim2 files
*radpth ../rad                    # path to radiance files
*imgpth  ../images                 # path to project images
*tmppth  ../tmp                    # path to project scratch folder
*docpth  ../doc                    # path to project documents
*dbspth  ../dbs                    # path to local databases
*hvacpth ../hvac                   # path to hvac files
*bsmpth ./                        # path to BASESIMP files
*indx    1 # Building only
 43.660   -4.410   # Latitude & Longitude (diff from time meridian)
      1   0.200   # Site exposure & ground reflectivity
* DATABASES
*mat  ../dbs/material.db3.a
*mlc  ../dbs/NZEH.constrdb
*opt  ../dbs/optics.db2
*prs  ../dbs/pressc.db1
*evn  /usr/esru/esp-r/dbs/profiles.db2.a
*clm  ../climate/can_toronto.cwec
*stdmscldb  mscomp.db1
*stdpdb  plantc.db1
*stdsbem  SBEM.db1
*sim-toggle bld-soln-implicitness   1.000
*sim-toggle bld-solar-processing enabled 
*hvac  ../hvac/pas-solar_sudbury.hvac
*dhw  ../hvac/dhw-gen.Dhw
*aim   ../aim2/<Opt-AirTightness>
*mvnt  ../hvac/HRV.vnt
*slr_half_hr   0  # solar timing hour centred
*ctl  ../ctl/NZEH_shoulder_ideal.ctl
*calename standard weekday Sat & Sun
*calentag weekdays, weekdays (all year), 261
*calentag saturday, Saturdays (all year),  52
*calentag sunday, Sundays (all year),  52
*list    3
 1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1, 
 2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1, 
 1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1, 
 1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2, 
 3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1, 
 1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1, 
 1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3, 
 1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1
*end_list
*year  2007 # assessment year
*pnt   ../nets/elec_loads.enf
# sim setup: no. sets startup zone_ts plant_ts save_lv @ each ts
*sps    4  1   1  1   5   
   1   1  31  12  fullyear # period & name
*sblr NZEH.res
*sflr NZEH.fes
*selr NZEH.ees
*end_set
   1   1  31   1  jan      # period & name
*sblr NZEH.res
*sflr NZEH.fes
*selr NZEH.ees
*end_set
   1   7  31   7  july     # period & name
*sblr NZEH.res
*sflr NZEH.fes
*selr NZEH.ees
*end_set
   1   1  31  12  optrun # period & name
*sblr NZEH.res
*sflr NZEH.fes
*selr NZEH.ees
*selr NZEH.ees
*end_set
*end_sps
# Name and address of building
*B-NAME not yet defined
*B-ADDRESS not yet defined
*B-CITY not yet defined
*B-POSTCODE not yet defined
# Contact information for building owner
*O-NAME not yet defined
*O-ADDRESS not yet defined
*O-CITY not yet defined
*O-POSTCODE not yet defined
*O-TELEPHONE not yet defined
# Contact information for simulation team
*C-NAME not yet defined
*C-ADDRESS not yet defined
*C-CITY not yet defined
*C-POSTCODE not yet defined
*C-TELEPHONE not yet defined
* PROJ LOG
NZEH.log
* Building
thermal mass study for NZEH
      9  # no of zones
*zon   1   # reference for bsmt        
*opr ../zones/bsmt.opr  # schedules
*geo ../zones/bsmt.geo  # geometry
*con ../zones/bsmt.con  # construction
*tmc ../zones/bsmt.tmc  # transparent constr
*isi ../zones/bsmt.shd  # shading db 
*bsm ../zones/bsmt.bsm  # BASESIMP input 
*zend 
*zon   2   # reference for garage      
*opr ../zones/garage.opr  # schedules
*geo ../zones/garage.geo  # geometry
*con ../zones/garage.con  # construction
*bsm ../zones/garage.bsm  # BASESIMP input 
*zend 
*zon   3   # reference for first_fl    
*opr ../zones/first_fl.opr  # schedules
*geo ../zones/first_fl.geo  # geometry
*con ../zones/first_fl.con  # construction
*tmc ../zones/first_fl.tmc  # transparent constr
*isi ../zones/first_fl.shd  # shading db 
*zend 
*zon   4   # reference for master      
*opr ../zones/master.opr  # schedules
*geo ../zones/master.geo  # geometry
*con ../zones/master.con  # construction
*tmc ../zones/master.tmc  # transparent constr
*isi ../zones/master.shd  # shading db 
*zend 
*zon   5   # reference for ensuite     
*opr ../zones/ensuite.opr  # schedules
*geo ../zones/ensuite.geo  # geometry
*con ../zones/ensuite.con  # construction
*tmc ../zones/ensuite.tmc  # transparent constr
*isi ../zones/ensuite.shd  # shading db 
*zend 
*zon   6   # reference for bedroom     
*opr ../zones/bedroom.opr  # schedules
*geo ../zones/bedroom.geo  # geometry
*con ../zones/bedroom.con  # construction
*tmc ../zones/bedroom.tmc  # transparent constr
*isi ../zones/bedroom.shd  # shading db 
*zend 
*zon   7   # reference for top_fl      
*opr ../zones/top_fl.opr  # schedules
*geo ../zones/top_fl.geo  # geometry
*con ../zones/top_fl.con  # construction
*tmc ../zones/top_fl.tmc  # transparent constr
*isi ../zones/top_fl.shd  # shading db 
*zend 
*zon   8   # reference for roof        
*opr ../zones/roof.opr  # schedules
*geo ../zones/roof.geo  # geometry
*con ../zones/roof.con  # construction
*zend 
*zon   9   # reference for mixer       
*opr ../zones/mixer.opr  # schedules
*geo ../zones/mixer.geo  # geometry
*con ../zones/mixer.con  # construction
*zend 
*cnn NZEH.cnn  # connections
 1  # fluid flow network:
../nets/NZEH.afn    # leakage description
bsmt,0,first_fl,master,ensuite,bedroom,top_fl,0,mixer
 